<div class="container visualize-border" style="height: 100%">
  <div class="row gy-2 gx-2">
    <div class="col">
      <div class="visualize-box">1</div>
    </div>
    <div class="col">
      <div class="visualize-box">2</div>
    </div>
    <div class="col">
      <div class="visualize-box">3</div>
    </div>
    <div class="col">
      <div class="visualize-box">4</div>
    </div>
    <div class="col">
      <div class="visualize-box">5</div>
    </div>
    <div class="col">
      <div class="visualize-box">6</div>
    </div>
    <div class="col">
      <div class="visualize-box">7</div>
    </div>
    <div class="col">
      <div class="visualize-box">8</div>
    </div>
    <div class="col">
      <div class="visualize-box">9</div>
    </div>
    <div class="col">
      <div class="visualize-box">10</div>
    </div>
    <div class="col">
      <div class="visualize-box">11</div>
    </div>
    <div class="col">
      <div class="visualize-box">12</div>
    </div>
    <div class="col">
      <div class="visualize-box">13</div>
    </div>
  </div>
</div>
